html{
    font-family: Arial;

}

p{
    font-family: Arial;

    width:800px;
    background-color:white ;
    color:black;
    border:black 4px solid;
    border-radius: 0px;
    padding:0px;
    font-size:20px;
  width: 50%;
    margin: 0 auto;

}
h2{
  margin: 0 auto;
      border-radius: 0px;
    padding:0px;
    width: 50%;
}

button{
  margin-top:.4em; 
  height:2.4em; 
  width:150px; 
  font-size:1em; 
  background-color:white; 
  border:blue; 
     padding:0px;
    margin-left: auto;
  margin-right: auto;
  border-radius: 230px;
  font-weight:bold;
}
button:hover{
  transform:scale(1.1); 
  background-color:white;}

li{font-weight:bold; 
  cursor:pointer;}
#list{
   width:800px;
    background-color:white ;
    color:black;
    border:black 4px solid;
    border-radius: 0px;
    padding:0px;
    font-size:20px;
  width: 50%;
    margin: 0 auto;
  font-family: Arial;

}

#ref{
  margin: 0 auto;
      width: 310px

}
body { 
    background-color: green;
  color: white;
      text-align:center; 

}